<%= render "form" %>
<!-- <form action="<%=monkey_path%>" method="POST">
  <input type="hidden" name="_method" value="PATCH" />
  <label>Name:
    <input type="text" name="monkey[name]" value="<%=@monkey.name%>"/>
  </label>
  <br>
  <label>Date of Monkey Birth:
    <input type="date" name="monkey[birth_date]" value="<%=@monkey.birth_date%>"/>
  </label>
  <br>
  <label>Colour of Monkey:
    <input type="text" name="monkey[color]" value="<%=@monkey.color%>"/>
  </label>
  <br>
  <label>Binary Gender Distinction:
    <input type="radio" name="monkey[sex]" value="M"
      <% if @monkey.sex == 'M'%><%='checked="checked"'%><% end %> />
    <input type="radio" name="monkey[sex]" value="F"
      <% if @monkey.sex == 'F'%><%='checked="checked"'%><% end %>/>
  </label>
  <br>
  <label>Describe your monkey:
    <textarea name="monkey[description]"><%=@monkey.description%></textarea
  </label>
  <br>
  <input type="submit" value='UPDATE MONKEY!'/>
</form> -->
